.message-inbox{
    max-height:650px;
    width: 330px;
    border:solid;
    border-width:1px;
    border-radius: 8px;
    margin-left:20px;
    margin-top:45px;
    border-color: rgb(174, 175, 175);
    overflow-y: hidden;
    overflow-x:hidden;
   
}
.inbox-title{
    /* Inbox */
padding-left:8px;
padding-top:8px;
margin-bottom: 8px;
width: 74px;
height: 38px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;
color: #2C2D33;
}
.inbox-search{
    font-size: 12px;;
    margin-left:10px;
    margin-top: 3px;;
    padding:8px;
    border:solid 1.25px;
    border-radius:4px;
    border-color: rgb(194, 195, 196);
    width:280px;
    
    
}
.inbox-contacts{
    overflow-y: scroll;
    max-height:600px;
}
.contact-image{
    width:60px;
    height:auto;
    border-radius: 4px;
    margin-left:11px;
}
.contact-holder{
    display:flex;
    flex-direction: row;
    padding-top: 15px;
}
.message-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:10px;
    padding-top:4px;
}
.contact-name{
    /* Jane Doe */

padding-left:10px;
/* Paragraph 1/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* Black/60 */
color: #45464E;

}
.the-message{
    /* Hi, i want make enquiries about yo... */
padding-left:10px;

width: 239px;
height: 17px;

/* Paragraph 2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Black/30 */
color: #8B8D97;

}
