.container {
  display:flex;
  flex-direction: row;
  height: 100%;
  width:100%;
  
}

.div-left, .div-right{
  flex:1;
 height:100%;
}
.div-left{
  min-width:200px;
}
@media (max-width: 940px) {
  
  .container {
  display:flex;
  flex-direction: column;
  width:100%;
  
  }
  .div-left {
     width:100%;
     min-height:250px;
     max-height:25%;
     padding: 0px 0px 0px 0px;
     margin-top:-80px;
     position: relative;
     
  }
}

.container-main {
  display:flex;
  flex-direction: row;
  height: 100%;
  width:100%;
  
}

.div-left-main, .div-right-main{
  flex:1;
 height:100%;
}
.div-left-main{
  width:200px;
}
@media (max-width: 940px) {
  
  .container-main {
  display:flex;
  flex-direction: column;
  width:100%;
  
  }
  .div-left-main {
     width:300px;
     min-height:250px;
     max-height:25%;
     padding: 0px 0px 0px 0px;
     margin-top:-80px;
     position: relative;
     
  }
}
