.container-main {
  display:flex;
  flex-direction: row;
  min-height: 700px;
  height:100%;
  overflow-y: scroll;
  
}

.container {
  display:flex;
  flex-direction: column;
  
  
}


.div-right{
  flex-basis:100%;
} 
.div-left{
  height:100%;
} 

.dashboard-head{
padding-left: 42px;
padding-bottom: 20px;
/* Semibold/24px | 32px */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* or 133% */
display: flex;
align-items: center;

/* Gray / gray-9 */
color: #262626;


}
.breadcrumb{

/* Breadcrumb Link */

width: 68px;
height: 22px;

/* Regular/14px | 22px */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

/* Gray / gray-7 */
color: #8C8C8C;




}
/* 
.div-left, .div-right{
  flex:1;
 height:100%;
 min-height:400px;
 overflow: auto;
 
} */


/* @media (max-width: 940px) {
  
  .container {
  display:flex;
  flex-direction: column;
  width:100%;
  
  }
  .div-left {
     width:100%;
     min-height:250px;
     max-height:25%;
     padding: 0px 0px 0px 0px;
     margin-top:-80px;
     
     
  }
} */


/* 
.div-left-main {
 
}
.div-right-main{

  


} */
/* 
@media (max-width: 940px) {
  
  .container-main {
  display:flex;
  flex-direction: column;
  width:100%;
  
  }
  .div-left-main {
     width:300px;
     min-height:250px;
     max-height:25%;
     padding: 0px 0px 0px 0px;
     margin-top:-80px;
     position: fixed;
     
  }
} */
